<form method="post" enctype="multipart/form-data">

    <input name="Name" placeholder="Boat Name" />
    <input name="Type" placeholder="Type" />
    <input name="PricePerHour" placeholder="Price" />

    <input type="file" name="ImageFile" />

    <button class="btn btn-success">Add Boat</button>

</form>