<div class="container mt-5">
    <div class="card shadow col-md-4 mx-auto p-4">

        <h3 class="text-center mb-3">Login</h3>

        <form method="post">

            <input name="Email" class="form-control mb-2" placeholder="Email" />

            <input name="Password" type="password" class="form-control mb-2" placeholder="Password" />

            <select name="Role" class="form-control mb-3">
                <option>User</option>
                <option>Owner</option>
                <option>Admin</option>
            </select>

            <button class="btn btn-primary w-100">Login</button>

            <p class="text-danger">@ViewBag.Message</p>

        </form>
    </div>
</div>