<div class="container mt-5">
    <div class="col-md-4" data-aos="fade-up">

        <h3 class="text-center">Register</h3>

        <form method="post">

            <input name="Name" class="form-control mb-2" placeholder="Name" />

            <input name="Email" class="form-control mb-2" placeholder="Email" />

            <input name="Password" type="password" class="form-control mb-2" placeholder="Password" />

            <select name="Role" class="form-control mb-3">
                <option>User</option>
                <option>Owner</option>
                <option>Admin</option>
            </select>

            <button class="btn btn-success w-100">Register</button>

        </form>
    </div>
</div>